<section>
    <div class="container">
        <div class="row login-page">
            <div class="col-lg-6 form-login bg cor">
                <div class="position-login">
                    <h1 class="text-center text-white">CADASTRO</h1>
                    <form>
                        <div class='form-itemmmm'>
                            <input class="inputText" type="text" name="Name" id="Name" required autocomplete="off"/>
                            <span class="floating-label">Nome</span>
                            <div id="txtName"></div>
                        </div>
                        <div class='form-itemmmm'>
                            <input class="inputText" type="text" name="Email" id="Email" required autocomplete="off"/>
                            <span class="floating-label">Email</span>
                            <div id="txtEmail"></div>
                        </div>
                        <div class='form-itemmmm'>
                            <input class="inputText" type="text" mask="(00) 00000-0000" name="Celular" id="Celular" required autocomplete="off"/>
                            <span class="floating-label">Celular</span>
                            <div id="txtCelular"></div>
                        </div>
                        <div class='form-itemmmm'>
                            <input class="inputText" type="text" mask="000.000.000-00" for="cpf" name="cpf" id="cpf" required autocomplete="off"/>
                            <span class="floating-label">CPF</span>
                            <div id="txtCpf"></div>
                        </div>
                        <div class='form-itemmmm'>
                            <input class="inputText" type="text" mask="00000-000" name="cep" id="cep" required autocomplete="off"/>
                            <span class="floating-label">CEP</span>
                            <div id="txtCep"></div>
                        </div>
                        <div class='form-itemmmm'>
                            <input class="inputText" type="text" name="logradouro" id="logradouro" required autocomplete="off"/>
                            <span class="floating-label">Endereço</span>
                            <div id="txtEndereco"></div>
                        </div>
                        <div class='form-itemmmm'>
                            <input class="inputText" type="text" name="numero" id="numero" required autocomplete="off"/>
                            <span class="floating-label">Numero</span>
                            <div id="txtNumero"></div>
                        </div>
                        <div class='form-itemmmm'>
                            <input class="inputText" type="text" name="cidade" id="cidade" required autocomplete="off"/>
                            <span class="floating-label">Cidade</span>
                            <div id="txtCidade"></div>
                        </div>
                        <div class='form-itemmmm'>
                            <input type="password" class="inputText" name="Pass" id="Pass" required autocomplete="off"/>
                            <span class="floating-label">Senha</span>
                            <div id="txtPass"></div>
                        </div>
                        <div class='form-itemmmm'>
                            <input type="password" class="inputText" name="Conpass" id="Conpass" required autocomplete="off"/>
                            <span class="floating-label">Confirmar Senha</span>
                            <div id="txtConPass"></div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary style-button2 shadow-none mr-4" onclick="">
                                <a class="link-ab" routerLink='/home'>Cancelar</a>
                            </button>
                            <button type="submit" class="btn btn-primary style-button shadow-none" onclick="">
                                <a class="link-ab" href="">Proximo</a>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>