<nav class="navbar navbar-expand-lg navbar-dark bg-color">
    <a class="navbar-brand text-color" href="#">EcoBook <i class="fa fa-pagelines" aria-hidden="true"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar">
        <button class="btn btn-outline-success my-2 my-sm-0 btn-color" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
      </form>
       <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/cadastro">Login/Cadastro <span class="sr-only">(current)</span><i class="fa fa-sign-in" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Carrinho <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </nav>
